{% extends "base.html" %} {% block content %}
<hr/>
<div class="text-center">
    <h3>{{ echo.msg }}</h3>
    <p>A simple echo service that can be used to test HTTP calls.</p>
</div>
<hr/>
<table class="table table-striped table-borderless text-left">
    <thead>
        <tr>
          <th scope="col">Method</th>
          <th scope="col">Example</th>
        </tr>
      </thead>
    <tbody>
        <tr>
            <td>GET</td>
            <td><pre>curl http://${APP_HOST}:${APP_PORT}/echo</pre></td>
        </tr>
        <tr>
            <td>GET (user agent browser)</td>
            <td><pre>curl -A "Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:59.0) Gecko/20100101 Firefox/59.0" http://${APP_HOST}:${APP_PORT}/echo</pre></td>
        </tr>
        <tr>
            <td>POST text/plain</td>
            <td><pre>curl -H "Content-type: text/plain" -X POST http://${APP_HOST}:${APP_PORT}/echo --data "Hello=test"</pre></td>
        </tr>
        <tr>
            <td>POST application/json</td>
            <td><pre>curl -H "Content-type: application/json" -X POST http://${APP_HOST}:${APP_PORT}/echo -d '{"message":"Hello Data"}'</pre></td>
        </tr>
        <tr>
            <td>POST (unknown Content-type)</td>
            <td><pre>curl -H "Content-type: unknown/type" -X POST http://${APP_HOST}:${APP_PORT}/echo -d '{"message":"Hello Data"}'</pre></td>
        </tr>
        <tr>
            <td>PATCH</td>
            <td><pre>curl -X PATCH http://${APP_HOST}:${APP_PORT}/echo</pre></td>
        </tr>
        <tr>
            <td>PUT</td>
            <td><pre>curl -X PUT http://${APP_HOST}:${APP_PORT}/echo</pre></td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td><pre>curl -X DELETE http://${APP_HOST}:${APP_PORT}/echo</pre></td>
        </tr>
    </tbody>
</table>
{% endblock %}
