{% extends "base.html" %} {% block content %}
<hr/>
<div class="text-center">
    This is a simple web application written in Python and using Flask. It has been designed with cloud demos &amp;
    containers in mind. Demonstrating capabilities such as auto scaling, deployment to Kubernetes, or anytime
    you want something quick and lightweight to run & deploy.
</div>

<hr />

<div class="text-center">
    <p>
        <a href="https://gitlab.com/malfter/demo-app" class="btn btn-secondary px-4">
            <i class="fab fa-gitlab"></i>
            GitLab Project
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://gitlab.com/malfter/demo-app/container_registry" class="btn btn-secondary">
            <i class="fab fa-docker"></i>
            Docker Images
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://gitlab.com/malfter/demo-app/-/packages" class="btn btn-secondary">
            <i class="fas fa-dharmachakra"></i>
            Helm Chart
        </a>
    </p>
</div>
{% endblock %}