.demo-bg-black {
    background-color: #000000;
}

.demo-bg-gray {
    background-color: #5D5D5D;
}

.demo-bg-darkred{
    background-color: #C75646;
}

.demo-bg-red {
    background-color: #E09690;
}

.demo-bg-darkgreen {
    background-color: #8EB33B;
}

.demo-bg-green {
    background-color: #CDEE69;
}

.demo-bg-darkyellow {
    background-color: #D0B03C;
}

.demo-bg-yellow {
    background-color: #FFE377;
}

.demo-bg-darkblue {
    background-color: #72B3CC;
}

.demo-bg-blue {
    background-color: #9CD9F0;
}

.demo-bg-darkmagenta {
    background-color: #C8A0D1;
}

.demo-bg-magenta {
    background-color: #FBB1F9;
}

.demo-bg-darkcyan {
    background-color: #218693;
}

.demo-bg-cyan {
    background-color: #77DFD8;
}

.demo-bg-lightgray {
    background-color: #B0B0B0;
}

.demo-bg-white {
    background-color: #F7F7F7;
}

.table th {
    text-align: left;
}

.table td {
    text-align: left;
}

footer .demo-fs-7 {
    font-size: 0.8rem;
}